In [3]:
def add2numbers():
    a=int(input("enter the first number"))
    b=int(input("enter the second number"))
    c=a+b
    print(c)
add2numbers()

enter the first number 10
enter the second number 20

30

In [8]:
def getabsolute():
    a=int(input("enter a number"))
    b=abs(a)
    return b
print(getabsolute())

enter a number -6

6

In [3]:
def fatorialofnum(num):
    if(num<=0):
        return 1
    i=1;
    fact=1
    while i<=num:
        fact=fact*i
        i=i+1
    return fact
fatorialofnum(5)

120

In [10]:
def factof(num):
    if(num<=0):
        return 1
    fact=1
    
    fact=num*factof(num-1)
    print(fact,num)
    return fact
factof(5)

1 1
2 2
6 3
24 4
120 5

120

In [15]:
def nos(*a):
    type(a)
    mul=1
    for i in a:
        mul=mul*i
    return mul
nos(1,2,3,4,5,6)

720

In [16]:
def attach(s1,s2):
    s3=s1+s2
    print(s3)
attach("good","night")

goodnight

In [17]:
def greet(name,msg="good morning"):
    print("hello",name,msg)

greet("suchin")

hello suchin good morning

In [19]:
PI=3.14
def cal_area(R=10):
    R=int(input("enter the radius"))
    area=PI*R*R
    return area
cal_area()

enter the radius 6

113.03999999999999

In [25]:
largest=[]
def find_largest(*a):
    for arg in a:
        largest.append(len(arg))
    print(largest)
    return max(largest)
        
    
find_largest("hello","goodmorning")

[5, 11]

11

In [36]:
largest=[]
def find_largest():
    args=input("enter list of names with space in between").split(" ")
    print(len(args))
    for i in (args):
        largest.append(len(i))
        print(largest)
    return max(largest)
        
print(find_largest())

enter list of names with space in between hello goodmorning

2
[5]
[5, 11]
11

In [4]:
def foo(x,y):
    global a
    a=200;
    x,y=y,x
    b=26
    b=12
    c=23
    print(a,b,x,y)
a,b,x,y=1,15,3,4
foo(12,27)
print(a,b,x,y)

200 12 27 12
200 15 3 4

In [5]:
lambdafunction=lambda a,b:a+b
lambdafunction(4,5)

9

In [9]:
lamdafunction =lambda num,num2:(num*num,num2*num2)
num=int(input("enter a num"))
num2=int(input("enter second num"))

lamdafunction(num,num2)

enter a num 10
enter second num 20

(100, 400)

In [11]:
lambdafunction=lambda str1:str1[0]
lambdafunction("hello")

'h'

In [17]:
lambdafunction1 = lambda num: True if(num%2==0) else False
lambdafunction1(6)

True

In [18]:
lambdafunction2=lambda num1,num2: num1 if num1>num2 else num2
lambdafunction2(4,19)

19

In [19]:
def square(n):
    return n**2
mylist=[1,2,3,4,5]
for i in mylist:
    print(square(i))

1
4
9
16
25

In [21]:
def mycube(n):
    return n**3
mylist=[1,2,3,4,5]
list(map(mycube,mylist))

[1, 8, 27, 64, 125]

In [25]:
def inspect(n):
    if(len(n)%2==0):
        return "even"
    else:
        return(n[0])
mylist=["January","february","March"]

list(map(inspect,mylist))

['J', 'even', 'M']

In [28]:
mylist1=[1,2,3,4,5,6,7,8,9,10]
def check_if_even(n):
    return (n%2==0)
list(filter(check_if_even,mylist1))

[2, 4, 6, 8, 10]

In [29]:
##map will print all the values
## filter it will filter out all the even numbers and wont print all the values
mylist1=[1,2,3,4,5,6,7,8,9,10]
def check_if_even(n):
    return (n%2==0)
list(map(check_if_even,mylist1))

[False, True, False, True, False, True, False, True, False, True]

In [30]:
def square(n):
    return n**2
mylist2=[1,2,3,4,5,6,7]
list(map(square,mylist2))

[1, 4, 9, 16, 25, 36, 49]

In [31]:
mylist2=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda n:n**2, mylist2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
mylist3=["january","february","march"]
list(map(lambda string: "even" if len(string)%2==0 else string[0],mylist3))

['j', 'even', 'm']

In [40]:
mylist2=["a","b","c"]
vowels="aeiou"
list(map(lambda char: True if char in vowels else False,mylist2))

[True, False, False]

In [55]:
vowels="aeiou"
name=input("enter your name")
check=filter(lambda char : char  in 'aeiou',name)
mylist=list(check)
if(len(mylist)>0):
   print("vowels in your name are {0}".format(mylist))
else:
   print("no vowels are there in the list")

enter your name hello

vowels in your name are ['e', 'o']

In [2]:
class emp:
    def __init__(self):
    #constructor: init
    ##self is the parameter of the instance method which 
    ## which can call the attributes or method
    # object is sending the object  address to the menthod . so we are storing the address in the variable(self)class emp:
    ## if the method has to be object method then the address has to be sent and it will collected for verification
    
        print("object created")
    def check(self):
        print("check created")
e1=emp()
e1.check()

object created
check created

In [7]:
class emp:
    def __init__(self):
        self.name="Anisha"
        self.age=35
        self.salary=100000
    def output(self):
        print(self.name)
        print(self.age)
e1=emp()
print(e1.salary)
e1.output()

100000
Anisha
35

In [6]:
e1.salary

100000

In [8]:
##local variable is referenced with in the function
class emp:
    def __init__(self,a,b,c):
        self.name=a
        self.age=b
        self.salary=c
    def output(self):
        print(self.name)
        print(self.age)
e1=emp("anisha",30,100000)
print(e1.salary)
e1.output()

100000
anisha
30