In [5]:
my_list=[10,20,30,40,50]
low_bound=10
up_bound=50
for i in my_list:
    if i<=low_bound or i>=up_bound:
        print("the list is not in the limit")
        break
else:
    print("it is within the limit")

the list is not in the limit

In [6]:
for i in range(10):
    print(i)
else:
    print("completed")

0
1
2
3
4
5
6
7
8
9
completed

In [8]:
for i in range(1,10):
    print(i)
    if(i%5==0):
        break
else:
    print("loop executed")

1
2
3
4
5

In [11]:
numbers=[1,2,3]
alpha=['a','b','c']
for n in numbers:
    print(n)
    for a in alpha:
        print(a)

1
a
b
c
2
a
b
c
3
a
b
c

In [17]:
numbers=[1,2,3]
alpha=['a','b','c']
for n in numbers:
    print(n)
    for a in alpha:
        print(a)
        
        break

1
a
2
a
3
a

In [18]:
for i in range(3):
    for j in range(3):
        print("*",end=" ")
    print()

* * *
* * *
* * *

In [19]:
for i in range(1,4):
    print("* "*3)

* * *
* * *
* * *

In [20]:
for i in range(4):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [6]:
list1=[]
def getnum(in_1):
    print(in_1)
    i=0
    while(in_1>0):
        for i in range(0,in_1+1):
            list1.append(i)
        print(list1)
        in_1=int(input("enter the number again"))
        list1.clear()
        
in_1=int(input("enter the number again"))
getnum(in_1)

enter the number again 5

5
[0, 1, 2, 3, 4, 5]

enter the number again 6

[0, 1, 2, 3, 4, 5, 6]

enter the number again 7

[0, 1, 2, 3, 4, 5, 6, 7]

enter the number again 0

In [13]:
for i in range(0,4):
    for j in range(0,i+1):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3

In [2]:
import random
a=random.randint(0,100)
print("0 or negative number to quit")
in_1=int(input("enter a random number"))
while(in_1>0): 
    if(in_1==a):
        print("Congratulations! You guessed it right")
        break
    elif(in_1>a):
        print("Number too large")
    else:
        print("Number is too small")
    in_1=int(input("enter a number again"))

0 or negative number to quit

enter a random number 12

Number is too small

enter a number again 0

In [8]:
mystring=input("enter your name")
length=len(mystring)
rev=""
for i in range(length-1,-1,-1):# reverse of the string length-1, to -1 and -1 to indicate it is reverse
    rev+=mystring[i]
    
print(rev)

enter your name sheena

aneehs

In [10]:
mystring1="i love india"
"india" in mystring1

True

In [12]:
mystring2="""my
name is sheena"""

In [13]:
mystring2

'my\nname is sheena'

In [15]:
"yellow" <= "fellow"

False

#### function in string
### len,max min

In [22]:
mystring="abcdeffghijklmnopqrstuvwxyz"
print(mystring)
print(len(mystring))
print(max(mystring))
print(min(mystring))
print(ord(mystring[0]))## unicode character

abcdeffghijklmnopqrstuvwxyz
27
z
a
97

In [25]:
chr(100)##3unicode character

'd'

In [48]:
list=[0,1]
count=1
for i in range(1,10):
    list.append(list[i]+list[i-1])
print(list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### Capitalize ,title, lower,upper,islower,isupper

In [41]:
mystring1="i love python"
mystring1.capitalize()

'I love python'

In [66]:
print(mystring1.isalpha())
print(mystring1.lower())
print(mystring1.upper())
print(mystring1.islower())
print(mystring1.isupper())
mystring2="12312312"
print(mystring2.isdigit())
mystring3="python12312"
print(mystring3.isalpha())
####isalnum alpha nummeric
print(mystring3.isalnum())
mystring4="  s  "
mystring5=" "
print(mystring4.isspace())
print(mystring5.isspace())
print(mystring3.startswith("s"))
print(mystring3.endswith("2"))
mystring10="i love python"
print(mystring10.index("love"))
print(mystring10.count("python"))
print(mystring10.split())
print(" ".join(("a","b","c")))
str2="i lOVE pYtHoN"
print(str2.swapcase())

False
i love python
I LOVE PYTHON
True
False
True
False
True
False
True
False
True
2
1
['i', 'love', 'python']
a b c
I Love PyThOn

In [ ]:
a =10
b=20
c=max(a,b)
print(f" the max of a and b is {c}")

In [ ]:
s

In [124]:
student_list={1:"john",2:"alex",3:"amritha",4:"mariyam"}
for i in student_list:
    print(i)
for values in student_list:
    print(values)
for keys,values in student_list.items():
    print(f"key is {keys} and value is {values}")
print(max(student_list))
print(min(student_list))
print(sorted(student_list))
student_list[5]="honeingh"

student_list.update({6:"hundred"})
print(student_list)
print(student_list.get(6))
print(any(student_list))
print(all(student_list))
print(student_list.pop(1))
print(student_list.popitem())
new_studentlist=student_list.copy()
print(new_studentlist)

1
2
3
4
1
2
3
4
key is 1 and value is john
key is 2 and value is alex
key is 3 and value is amritha
key is 4 and value is mariyam
4
1
[1, 2, 3, 4]
{1: 'john', 2: 'alex', 3: 'amritha', 4: 'mariyam', 5: 'honeingh', 6: 'hundred'}
hundred
True
True
john
(6, 'hundred')
{2: 'alex', 3: 'amritha', 4: 'mariyam', 5: 'honeingh'}

In [131]:
value=student_list.setdefault(7,"dhoni")
value
print(student_list)
value=student_list.setdefault(8)
print(student_list)

{2: 'alex', 3: 'amritha', 4: 'mariyam', 5: 'honeingh', 7: 'dhoni'}
{2: 'alex', 3: 'amritha', 4: 'mariyam', 5: 'honeingh', 7: 'dhoni', 8: None}

In [133]:
mystr1="dunny"
print(mystr1*2)
print(mystr1+mystr1)

dunnydunny
dunnydunny

In [134]:
student_list.pop(9,"not found")

'not found'

In [135]:
str1=" i love python programming"
print("india" not in str1)

True

In [3]:
## __ private
##_protected
class emp:
    def __init__(self):
        self.name="anisha"
        self.age=30
        self.__sal=40000
    def __display(self):
        print(self.name,self.age,self.__sal)
    def show(self):
        self.__display()
e1=emp()
e1.show()

anisha 30 40000

In [4]:
##simple inheritance
## child inheriting from the parent
class A:
    pass
class B(A):
    pass

In [5]:
## multi level inheritence
class A:
    pass
class B(A):
    pass
class C(B):
    pass

In [6]:
## multiple inheritence
### 2 parents and one child
class A:
    pass
class B:
    pass
class C(A,B):
    pass

In [7]:
## hierarchial inherite
## 
class A:
    pass
class B(A):
    pass
class C(A):
    pass

In [8]:
## hybrid ineritence
class A:
    pass
class B(A):
    pass
class C(A):
    pass
class D(B,C):
    pass

In [3]:
class schoolmember:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def tell(self):
        print(self.name,self.age,end=" ")
class student(schoolmember):
    def __init__(self,name,age,rollno,per):
        super().__init__(name,age)
        self.rollno=rollno
        self.per=per
    def tell(self):
        super().tell()
        print(self.rollno,self.per)
class teacher(schoolmember):
    def __init__(self,name,age,sec):
        super().__init__(name,age)
        self.sec=sec

P1=student("pranab",34,23,87)
P1.tell()

pranab 34 23 87

In [8]:
class A:
    def __init__(self):
        print("A has been called")
class B:
    def __init__(self):
        print("B has been called")
class C(A,B):
    pass
    ##f __init__(self):
       #rint("c has been called"
        
print(C.mro())

[<class '__main__.C'>, <class '__main__.A'>, <class '__main__.B'>, <class 'object'>]

In [9]:
class schoolmember:
    def __init__(self,name,age):
        self.name=name
        self.age=age
class studentname(schoolmember):
    def __init__(self,name,age,rollno,per):
        super().__init__(name,age)
        self.rollno=rollno
        self.per=per
    def printcontent(self):
        print(self.name,self.age,self.rollno,self.per)
class teacher(schoolmember):
    def __init__(self,name,age,sal):
        self.sal=sal
s1=studentname("abhishek",30,56,87)
s1.printcontent()

abhishek 30 56 87

In [15]:
class Base1(object):
    def __init__(self):
        self.str1="hello"
        print("Base1",end="")
class Base2(object):
    def __init__(self):
        self.str2="hi"
        print("Base2")
class Derived(Base1,Base2):
    def __init__(self):
        Base1.__init__(self)
        Base2.__init__(self)
        print("derived")
    def printStrs(self):
        print(self.str1, self.str2)
B1=Derived()
B1.printStrs()

Base1
Base2
derived
hello hi

In [5]:
##single inheritence
class parent(object):
    def __init__(self):
        print("parent class ")
class child(parent):
    def __init__(self):
        parent.__init__(self)
        print("child class")
c1=child()

parent class
child class

In [13]:
## multiple inheritence A ,b->c
class Grandparent(object):
    GPname=" "
    def __init__( self):
        print("grandparent class")
class parent(object):
    Pname=" "   
    def __init__(self):
        print("parent class")
class child(Grandparent,parent):
    Cname=" "
    def __init__(self):
        Grandparent.__init__(self)
        parent.__init__(self)
        print("child")
    def names(self):
        print(f"Gransparents name : {self.GPname},Parents name ={self.Pname},Childs name ={self.Cname}")        
        
c1=child()
c1.GPname="Indira Gandhi"
c1.Pname="Rajiv Gandhi"
c1.Cname="Rahul Gandhi"
c1.names()

grandparent class
parent class
child
Gransparents name : Indira Gandhi,Parents name =Rajiv Gandhi,Childs name =Rahul Gandhi

In [1]:
### multilevel inheritence
class A:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        print("in A class")
class B(A):
    def __init__(self,empid,comp,name,age):
        self.empid=empid
        self.comp=comp
        print("in B class")
        A.__init__(self,name,age)
class C(B):
    def __init__(self,schoolname,empid,comp,name,age):
        self.schoolname=schoolname
        B.__init__(self,empid,comp,name,age)
    def printdata(self):
        print(f"name is : {self.name} age is : {self.age} emp id is :{self.empid} comp is : {self.comp} shcoolname is : {self.schoolname}")

Cobj=C("Ankita",30,12,"wipro","kv")
Cobj.printdata()
   ## base calss inherits the object class

in B class
in A class
name is : wipro age is : kv emp id is :30 comp is : 12 shcoolname is : Ankita

In [9]:
##multiple inheritence
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
class student:
    def __init__(self,rollno,per):
        self.rollno=rollno
        self.per=per
class sciencestudent(person,student):
    def __init__(self,name,age,rollno,per,subject):
        self.subject=subject
        person.__init__(self,name,age)
        student.__init__(self,rollno,per)
    def printdata(self):
        print(f"name is : {self.name} age is : {self.age} roll no is :{self.rollno} per is : {self.per} subject is : {self.subject}")
 
s1obj=sciencestudent("ankita",30,12,98,"bio")
s1obj.printdata()
print(sciencestudent.mro())
##The super() function is used to give access to methods and properties of a parent or sibling class. The super() function returns an object that represents the parent class.

name is : ankita age is : 30 roll no is :12 per is : 98 subject is : bio
[<class '__main__.sciencestudent'>, <class '__main__.person'>, <class '__main__.student'>, <class 'object'>]

In [15]:
###heirachial inheritence parent class is inherited by the all the child class

class Parent(object):
    def func1(self):
        print("this is the parent class")
    def __init__(self,fathername,mothername):
        self.fathername=fathername
        self.mothername=mothername
class child1(Parent):
    def func2(self):
        print("this is child1 class")
       
    def __init__(self,fathername,mothername,child1name):
        self.child1name=child1name
        Parent.__init__(self,fathername,mothername)
    def printchilddetails(self):
        print(f"Father name: {self.fathername}, Mother name:{self.mothername},child1 name: {self.child1name}")
        
class child2(Parent):
    def func3(self):
        print("this is child2 class")
        
    def __init__(self,fathername,mothername,child2name):
        self.child2name=child2name
        Parent.__init__(self,fathername,mothername)
    def printchil2ddetails(self):
        print(f"Father name: {self.fathername}, Mother name:{self.mothername},child1 name: {self.child2name}")
        
chobj=child1("Adam" ,"Eve","Cain")
chobj1=child2("Adam","Eve","Abel")
chobj.func1()
chobj.func2()
chobj.printchilddetails()
chobj1.func1()
chobj1.func3()
chobj1.printchil2ddetails()

this is the parent class
this is child1 class
Father name: Adam, Mother name:Eve,child1 nameCain
this is the parent class
this is child2 class
Father name: Adam, Mother name:Eve,child1 nameAbel

In [12]:
##hybrid inheritence
class A(object):
    def __init__(self):
        print("this is the super class A")
class B(A):
    def __init__(self):
        print("this is the first level child calss")
        A.__init__(self)
class C(A):
    def __init__(self):
        print("this is the second level child class")
        A.__init__(self)
        
class D(B,C):
    def __init__(self):
        print("this is sub child class")
        B.__init__(self)
        C.__init__(self)
obj =D()
print(D.mro())

this is sub child class
this is the first level child calss
this is the super class A
this is the second level child class
this is the super class A
[<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>]