Write a program to accept a string from the user and display it vertically but don’t display the vowels in it.

In [11]:
str1=input("enter any word")
i=0
while(i<len(str1)):
      if str1[i] not in 'aeiou':
            print(str1[i])
      i=i+1

enter any word hello

h
l
l

Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

Print even numbers [1 -> starting index and 2 ->no of step that you want to skip"]

In [17]:
nums="12345678\n"
even_nums=nums[1::2]
print(even_nums)

2468

In [12]:
input_str='Kumar_Ravi_003'
firstname=input_str[6:10]
lastname=input_str[0:5]
customer_code=input_str[12:]
print("firstname is {0}, last name is {1} and customer code is {2}".format(firstname,lastname,customer_code))

firstname is Ravi, last name is Kumar and customer code is 03

list
1)append
2)insert
3)remove
4)pop
5)index
6)count
7)sort
8)reverse
9)copy
10)index
11)clear

In [26]:
list1=["apple","mango","cherry","banana","mango"]
print("the initial list is {0}".format(list1))
list1.append("kiwi")
print("the  list after append is {0}".format(list1))
list1.insert(0,"orange")
print("the insert operation  {0}".format(list1))
list1.remove("apple")
print("remove {0}".format(list1))
list1.pop()
print("POP {0}".format(list1))
print("index {0}".format(list1.index("cherry")))
print("count {0}".format(list1.count("mango")))
list1.sort()
print("sort {0}".format(list1))
list1.reverse()
print("the reverse of the list {0}".format(list1))
mylist=[]
mylist=list1.copy()
print("copy {0}".format(mylist))
print("clear {0}".format(list1.clear()))

the initial list is ['apple', 'mango', 'cherry', 'banana', 'mango']
the  list after append is ['apple', 'mango', 'cherry', 'banana', 'mango', 'kiwi']
the insert operation  ['orange', 'apple', 'mango', 'cherry', 'banana', 'mango', 'kiwi']
remove ['orange', 'mango', 'cherry', 'banana', 'mango', 'kiwi']
POP ['orange', 'mango', 'cherry', 'banana', 'mango']
index 2
count 2
sort ['banana', 'cherry', 'mango', 'mango', 'orange']
the reverse of the list ['orange', 'mango', 'mango', 'cherry', 'banana']
copy ['orange', 'mango', 'mango', 'cherry', 'banana']
clear None

### STACK
a)append
b)pop

In [30]:
stack=[3,4,5]
print("the initial stack list {0}".format(stack))
stack.append(6)
stack.append(7)
print("insertion {0}".format(stack))
stack.pop()
print("the pop {0}".format(stack))

the initial stack list [3, 4, 5]
insertion [3, 4, 5, 6, 7]
the pop [3, 4, 5, 6]

### QUEUE

In [1]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves
queue.popleft()                 # The second to arrive now leaves
print("elements in the queue after removing first element {0}".format(queue))

elements in the queue after removing first element deque(['Michael', 'Terry', 'Graham'])

### list (for loop)
square

In [3]:
squares=[]
for x in range(10):
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
sqaures=list[map(lambda x:x**2,range(10))]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### list operation
1) double the list value
2) remove the negative numbers
3) remove the space
4) list of 2 numbers(number and the square)
5) flatten the list

In [8]:
list1=[]
for x in range(10):
    list1.append(x*2)
print(list1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
list1=[-6,-5,2,3,5]
mylist=[]
for x in list1:
    if(x>0):
        mylist.append(x)
print(mylist)

[2, 3, 5]

In [21]:
fruits=["apple "," banana","mango  ","  cherry"]
print([ x.strip() for x in fruits])

['apple', 'banana', 'mango', 'cherry']

In [38]:
print([(x,x*2) for x in range(10)])

[(0, 0), (1, 2), (2, 4), (3, 6), (4, 8), (5, 10), (6, 12), (7, 14), (8, 16), (9, 18)]

In [1]:
vec=[[1,2,3],[4,5,6],[7,8,9]]
for elem in vec:
    for num in elem:
        print(num)

1
2
3
4
5
6
7
8
9

In [5]:
list=[1,2,4,5,6,7,8]
mylist=[]
i=0
for i in list:
    mylist.append(i*2)
    i=i+2
print(mylist)
del mylist[0]
print(mylist)

[2, 4, 8, 10, 12, 14, 16]
[4, 8, 10, 12, 14, 16]

Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

In [7]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list.remove('SPSS')
input_list.insert(4,'SPARK')
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

Convert a string input_str = 'I love Data Science & Python' to a list by splitting it on ‘&’. The sample output for this string will be:

In [8]:
input_str='I love Data Science & Python' 
output_str=input_str.split('&')
print(output_str)

['I love Data Science ', ' Python']

Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’.

In [10]:
input_list=['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
output_list=' & '.join(input_list)
print(output_list)

Pythons syntax is easy to learn & Pythons syntax is very clear

Extract Python from a nested list input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [12]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
answer=input_list[2][0]
print(answer)

Python

### Tuple 
### tuple once written cannot be changed remove,pop ,append.insert and extend wont work

In [ ]:
first_tuple=("monty",12,"hi",2345)
print(len(first_tuple))
print(first_tuple)

new_list = list(first_tuple)
print(new_list)
new_list.remove(12)
print(new_list)

In [2]:
t=(1,2,3)
l=t,(4,5,6)
print(l)

((1, 2, 3), (4, 5, 6))

In [4]:
x=([1,2,3],[4,5,6])
print(x)

([1, 2, 3], [4, 5, 6])

### Set
Set {} , eliminated suplicate enteries

In [10]:
fruits={"banana","apple","orange","apple"}
print(fruits)
"apple" in fruits
x={1,2,3,4,5}
y={4,5,6,7,8}
print(x&y)
print(x-y)
print(x|y)
print(x^y)

{'orange', 'apple', 'banana'}
{4, 5}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

### dictinary
A dictionary is a collection of words alonmangog with their meanings or simpler explanations.
At a broader level, you could call a dictionary a mapping of words with their synonyms or meanings. Let's learn about Python dictionaries from the professor.
key value pair

In [19]:
fruits_basket={1:'apple',2:'mango',3:'orange'}
fruits_basket[4]='kiwi'
print(fruits_basket)
print(fruits_basket[1])
4 in fruits_basket
print(dict([(1,'a'),(2,'b')]))
dict(sape=4139, guido=4127, jack=4098)

{1: 'apple', 2: 'mango', 3: 'orange', 4: 'kiwi'}
apple
{1: 'a', 2: 'b'}

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [20]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k,v in knights.items():
    print(k,v)

gallahad the pure
robin the brave

In [23]:
a=[1,2,3]
b=[4,5,6]
c=[]
c=list(zip(a,b))
print(c)

[(1, 4), (2, 5), (3, 6)]

From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key ‘Label’ which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.

In [4]:
input_dict= {'Name': 'Monty', 'Profession': 'Singer' }
if "label" in input_dict.keys():
    print(input_dict["label"])
else:
    print("NA")

NA

In [7]:
input_dict= {'Name': 'Monty', 'Profession': 'Singer' }
if input_dict.get("label"):
    print(input_dict["label"])
else:
    print("NA")

NA

Extract the company headed by Tim Cook from the dictionary {'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}

In [4]:
input_dict={'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}
name=input_dict["Tim Cook"]
print(name)

Apple

Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [10]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
print(sorted(input_dict.items(),key=lambda x:x[1]))

[('Jeff Bezos', 'Amazon'), ('Tim Cook', 'Apple'), ('Mukesh Ambani', 'RJIO'), ('Jack Dorsey', 'Twitter')]

In [5]:
new_dict=dict(country="Jamaica",songs=["MJ","MS"])
print(new_dict)
del new_dict['country']
print(new_dict)

{'country': 'Jamaica', 'songs': ['MJ', 'MS']}
{'songs': ['MJ', 'MS']}

Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [6]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

value_list = input_dict.values()
print(sorted(value_list))

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [7]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

Find the difference, using difference and symmetric_difference, between two given lists - list1 and list2.
First, convert the lists into sets and store them as set_1 and set_2. Then store the difference and symmetric difference in answer_1 and answer_2 respectively. Print both the answers as sorted lists, i.e. convert the final sets to lists, sort it and then return it.

In [11]:

input_list = [[1,2,3,4,5,6],[2,3,4,5,6,7,8,9]]
list_1 = input_list[0]
list_2 = input_list[1]

set_1 =set(list_1)
set_2 = set(list_2)
answer_1 = list(set_1.difference(set_2))
answer_2 = list(set_1.symmetric_difference(set_2))

print(answer_1)
print(answer_2)

[1]
[1, 7, 8, 9]