'Filter' is a similar operation, but it requires the function to look for a condition and then, only returns those elements from the collection that satisfy the condition. 'Reduce' is an operation that breaks down the entire process into pair-wise operations and uses the result from each operation, with the successive element

In [1]:
first_list=[2,4,5]
new_list=[]
for x in first_list:
    new_list.append(x**2)
print(new_list)

[4, 16, 25]

In [6]:
first_list=[2,4,5]
newlist=lambda x:x**2
print(newlist(5))

25

In [9]:
first_list=[2,4,5]
print(list(map(lambda x: x**2,first_list)))

[4, 16, 25]

Using the Map function, create a list 'cube', which consists of the cube of numbers in input_list.

For e.g. if the input list is [5,6,4,8,9], the output should be [125, 216, 64, 512, 729].

In [15]:

input_list=[5,6,4,8,9]
cube=list(map(lambda n:n**3,input_list))
print(cube)

[125, 216, 64, 512, 729]

['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
Using the function Map, count the number of words that start with ‘S’ in input_list.

In [21]:
input_list=['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
def wordcount(input_list):
    count=0
    for x in input_list:
        if x[0] in 'S':
            count=count+1
    return count
print(wordcount(input_list))

3

In [26]:
input_list=['San Jose', 'San Francisco', 'Santa Fe', 'Houston']

count=list(map(lambda x:x[0]=='S',input_list)).count(True)
 
print(count)

3

In [1]:
sums_list=[3,4,5,6]
sums_list1=[4,5,6,7]
out=list(map(lambda x,y :x+y ,sums_list,sums_list1))
print( out)

[7, 9, 11, 13]

In [3]:
list_of_names=["ann","anuradha","hemalatha","yazhini"]
list_of_names2=["mathew","dutta","preit","ujwala"]
print(list(map(lambda x,y:x[0].upper()+x[1:] + ' ' +y[0].upper()+y[1:],list_of_names,list_of_names2)))

['Ann Mathew', 'Anuradha Dutta', 'Hemalatha Preit', 'Yazhini Ujwala']

In [6]:
divby3=lambda x:x%3==0
my_list=[7,21,15,9,24,56]
div=filter(divby3,my_list)
print(list(div))

[21, 15, 9, 24]

Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 

For e.g. if the input list is:
[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

the output list should be the list:
['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

Note: Add a space between first name and last name.

In [17]:
input_list=[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
first_name = input_list[0]
last_name = input_list[1]
out= list(map(lambda first_name,last_name:first_name[0:]+' '+ last_name[0:],first_name,last_name))
print(out)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [19]:
from functools import reduce
q=reduce(lambda x,y:x+y,range(1,4))
print(q)

6

In [20]:
list_of_nums=[22,45,67,89,12,34]
print(reduce(lambda x,y:x if x>y else y,list_of_nums))

89

In [11]:
divby3 =lambda x: x%3 == 0 
my_list=[4,6,7,9,12,14]
prod=filter(divby3,my_list)
print(list(prod))

[6, 9, 12]


Extract a list of numbers that are multiples of 5 from a list of integers named input_list.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [13]:
input_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
divby5=lambda x: x%5==0
prod=filter(divby5,input_list)
print(list(prod))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

 input_list =  ['hdjk', 'salsap', 'sherpa']
 Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.

In [26]:
input_list = ['hdjk', 'salsap', 'sherpa'] 
n=len(input_list[0])
new_list.clear()
for x in input_list:
    if(x[0]=='s' and x[-1]=='p'):
       new_list.append(x)
print(new_list)

['salsap']

In [27]:
input_list = ['hdjk', 'salsap', 'sherpa'] 
out=lambda x:x[0]=='s' and x[-1]=='p'
out_list=filter(out,input_list)
print(list(out_list))

['salsap']

Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.
If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.

In [41]:
input_list = ['I','Love','Python']
out=[]
out.append(" ".join(input_list))
print(out)

['I Love Python']

In [63]:
input_list = ['I','Love','Python']
out=[]
out=" ".join(map(str,input_list))
print(out)

I Love Python

In [72]:
from functools import reduce 
input_list = ['I','Love','Python']
out=reduce(lambda x,y:x+' '+y,input_list)
print(out)

['I', ' ', 'L', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.

In [77]:
input_list = [31, 63, 76, 89]
out=reduce(lambda x,y:x if x>y else y, input_list)
print(out)

89

In [78]:
l=[1,2,3]
print(l*2)

[1, 2, 3, 1, 2, 3]

In [94]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D.values():
     print(val[1])

22
21
40

In [100]:
S="I love Python"
print(S[2:6])
print(S[-11:-7])
print(len(S))

love
love
13

In [104]:
def my_func(*args):
    return(sum(args))

print(my_func(1,2,3,4,5))
print(my_func(6,7,8))

15
21

Given a number ‘n’, output its factorial using reduce().
Note: Make sure you handle the edge case of zero. As you know, 0! = 1

In [12]:
new_input=int(input("enter a number"))
def fact(new_input):
    fact_res=1
    if new_input == 0:
        return 1
    
    for i in range(1,new_input+1):
        fact_res=fact_res*i
    return fact_res
print(fact(new_input))

enter a number 6

720

In [11]:
from functools import reduce
new_input=int(input("enter a number"))
def fact(new_input):
    fact_res=1
    if new_input == 0 or new_input == 1:
        return 1
    fact_res=reduce(lambda a,b: a*b,range(1,new_input+1))
    return fact_res
print(fact(new_input))

enter a number 3

6

Input:
3 lists containing numbers (ranging from 1 to 20) representing students who play cricket, football and hockey respectively.
Output:
4 different lists containing the students according to the constraints provided in the questions.
Students who play all the three sports
Students who play both cricket and football but don’t play hockey
Students who play exactly two of the sports
Students who don’t play any of the three sports

In [21]:
C=[2, 5, 9, 12, 13, 15, 16, 17, 18, 19]
F=[2, 4, 5, 6, 7, 9, 13, 16]
H=[1, 2, 5, 9, 10, 11, 12, 13, 15]
Cric=set(C)
FB=set(F)
HK=set(H)
All=set()
for i in range(1,21):
    All.add(i)
Common= Cric&FB&HK
CricFB= (Cric&FB)-HK
NP=All-(Cric|FB|HK)
Any=(((Cric&FB)-HK)|((Cric&HK)-FB)|((FB&HK)-Cric))
print(sorted(Common))
print(sorted(CricFB))
print(sorted(Any))
print(sorted(NP))

[2, 5, 9, 13]
[16]
[3, 8, 14, 20]
[12, 15, 16]

######